<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg name)">
  <xacro:arg name="name" default="ur"/>

  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>
  <xacro:include filename="$(find ur_simulation_gz)/urdf/ur_gz.ros2_control.xacro"/>
  <xacro:include filename="$(find ur5_simulation)/urdf/simple_gripper.xacro"/>

  <!-- Same args as ur_gz.urdf.xacro -->
  <xacro:arg name="ur_type" default="ur5x"/>
  <xacro:arg name="tf_prefix" default=""/>
  <xacro:arg name="joint_limit_params"
    default="$(find ur_description)/config/$(arg ur_type)/joint_limits.yaml"/>
  <xacro:arg name="kinematics_params"
    default="$(find ur_description)/config/$(arg ur_type)/default_kinematics.yaml"/>
  <xacro:arg name="physical_params"
    default="$(find ur_description)/config/$(arg ur_type)/physical_parameters.yaml"/>
  <xacro:arg name="visual_params"
    default="$(find ur_description)/config/$(arg ur_type)/visual_parameters.yaml"/>
  <xacro:arg name="transmission_hw_interface" default=""/>
  <xacro:arg name="safety_limits" default="false"/>
  <xacro:arg name="safety_pos_margin" default="0.15"/>
  <xacro:arg name="safety_k_position" default="20"/>
  <xacro:arg name="simulation_controllers" default=""/>
  <xacro:arg name="ros_namespace" default=""/>

  <link name="world"/>

  <link name="ground_plane">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry><box size="5 5 0"/></geometry>
      <material name="ground_white"><color rgba="1 1 1 0.5"/></material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry><box size="5 5 0"/></geometry>
    </collision>
  </link>

  <joint name="ground_plane_joint" type="fixed">
    <origin xyz="0 0 -0.01" rpy="0 0 0"/>
    <parent link="world"/>
    <child link="ground_plane"/>
  </joint>

  <!-- UR arm -->
  <xacro:ur_robot
    name="$(arg name)"
    tf_prefix="$(arg tf_prefix)"
    parent="world"
    joint_limits_parameters_file="$(arg joint_limit_params)"
    kinematics_parameters_file="$(arg kinematics_params)"
    physical_parameters_file="$(arg physical_params)"
    visual_parameters_file="$(arg visual_params)"
    safety_limits="$(arg safety_limits)"
    safety_pos_margin="$(arg safety_pos_margin)"
    safety_k_position="$(arg safety_k_position)"
    force_abs_paths="true"
  >
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:ur_robot>

  <!-- Gripper attached to tool0 -->
  <xacro:simple_gripper prefix="$(arg tf_prefix)" parent="$(arg tf_prefix)tool0"/>

  <!-- Overhead depth camera fixed above the workspace -->
  <link name="overhead_camera_link">
    <visual>
      <geometry><box size="0.05 0.05 0.03"/></geometry>
      <material name="camera_black"><color rgba="0.1 0.1 0.1 1"/></material>
    </visual>
    <inertial>
      <mass value="0.1"/>
      <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <joint name="overhead_camera_joint" type="fixed">
    <parent link="world"/>
    <child link="overhead_camera_link"/>
    <!-- 1.5 m above table, rotated 180° around X so camera Z points down -->
    <origin xyz="0.5 0.0 1.5" rpy="3.14159 0.0 0.0"/>
  </joint>

  <gazebo reference="overhead_camera_link">
    <sensor name="overhead_camera" type="rgbd_camera">
      <always_on>1</always_on>
      <update_rate>10</update_rate>
      <topic>overhead_camera</topic>
      <gz_frame_id>overhead_camera_link</gz_frame_id>
      <camera>
        <horizontal_fov>1.2</horizontal_fov>
        <image>
          <width>640</width>
          <height>480</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.1</near>
          <far>5.0</far>
        </clip>
      </camera>
    </sensor>
  </gazebo>

  <gazebo reference="world"/>
  <gazebo>
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(arg simulation_controllers)</parameters>
      <ros>
        <namespace>$(arg ros_namespace)</namespace>
      </ros>
    </plugin>
  </gazebo>

  <!-- UR arm ros2_control hardware interface -->
  <xacro:ur_ros2_control
    name="$(arg name)"
    tf_prefix="$(arg tf_prefix)"
    transmission_hw_interface="$(arg transmission_hw_interface)"
  />
</robot>
